<table class="table">
  <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Opções</th>
      </tr>
  </thead>
<tbody>
  {% for item in products %}
  <tr>
    <td>{{ item._id }}</td>
    <td><p>{{ item.name }}</p></td>
    <td><p>{{ item.price.toLocaleString('pt-BR', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) }}</p></td>
    <td><button class="btn btn-sm btn-outline-danger btn-remove" id="{{ item._id }}">Excluir</button></td>
  </tr>
  {% endfor %}
</tbody>
</table>
