{% extends './layouts/base.html' %}

{% block content %}
<div class="p-5 jumbotron mt-4">
    <h3 class="big float-right">{{ product.price.toLocaleString('pt-BR', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) }} </h3>
  <h1 class="display-4">{{ product.name }}</h1>
  <p clas="small"><strong>Ref: {{ product.id }}</strong></p>
  <input type="hidden" name="productId" id="productId" value="{{ product.id }}" />
  <p class="p-3">{{ product.description | striptags(true) | escape | nl2br }}</p>
  <hr />
  <button id="addProduct" class="btn float-right btn-danger">Adicionar produto</button>
  <div class="clearfix"></div>
</div>

{% endblock %}

{% block title %}
  Meu Produto {{ product.id }}
{% endblock %}

{% block script %}
  <script src="/js/products.js" charset="utf-8"></script>
{% endblock %}
